<div class="fit-image {{ classes }}">
  {% if image %}
    <img src="{{ image | image_url }}" alt="{{ image.alt | escape }}" height="auto" width="100%" class="w-full object-cover">
  {% else %}
    {{ placeholder | placeholder_svg_tag: 'w-full object-cover object-center' }}
  {% endif %}
</div>