<div class="py-16 bg-white">
  <div class="container">
    <div class="max-w-3xl mx-auto">
      {% if section.settings.intro != blank %}
        <div class="wysiwyg text-left mb-8">
          <h2 class="hdg-3">{{ section.settings.intro }}</h2>
        </div>
      {% endif %}

      {% form 'contact' %}
        {% if form.errors %}
          <div class="border border-red-500 bg-red-100 rounded-md p-4 mb-4">
            <p class="text-red-800">Please correct the following errors:</p>
            <ul class="list-disc list-inside">
              {% for error in form.errors %}
                <li>{{ form.errors.messages[error] }}</li>
              {% endfor %}
            </ul>
          </div>
        {% elsif form.posted_successfully? %}
          <div class="border border-green-500 bg-green-100 rounded-md p-4 mb-4">
            <p class="text-green-800">Your message has been sent successfully.</p>
          </div>
        {% endif %}

        <div class="grid grid-cols-2 gap-5">
          <div class="field mb-8 last:mb-0">
            <label for="contact_name" class="block mb-1 paragraph-small font-semibold uppercase tracking-widest">Name</label>
            <input type="text" name="contact[name]" id="contact_name" placeholder="Name" class="py-3 px-5 border border-gray-400 focus:border-black w-full outline-none">
          </div>

          <div class="field mb-8 last:mb-0">
            <label for="contact_email" class="block mb-1 paragraph-small font-semibold uppercase tracking-widest">Email</label>
            <input type="email" name="contact[email]" id="contact_email" placeholder="Email" class="py-3 px-5 border border-gray-400 focus:border-black w-full outline-none">
          </div>
        </div>

        <div class="field mb-8 last:mb-0">
          <label for="contact_message" class="block mb-1 paragraph-small font-semibold uppercase tracking-widest">Message</label>
          <textarea name="contact[body]" id="contact_message" placeholder="Your message here..." class="py-3 px-5 border border-gray-400 focus:border-black w-full outline-none"></textarea>
        </div>

        <div class="form-footer">
          <button type="submit" class="btn">Submit</button>
        </div>
      {% endform %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Form",
    "settings": [
      {
        "type": "text",
        "id": "intro",
        "label": "Intro",
      }
    ],
    "presets": [
      {
        "name": "Form",
      }
    ]
  }
{% endschema %}